<!DOCTYPE HTML>

<html>
	<head>
		<title>提教社-关于</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{url_for('static', path='assets/css/main.css')}}" />
		<link rel="icon" type="image/x-icon" href="{{ url_for('static', path='favicon.ico') }}">
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<!-- Header -->
								<header id="header">
									<a href="aboutus.html" class="logo"><strong>关于我们</strong></a>
								</header>
							<!-- Content -->
								<section><!--
									<header class="main">
										<h1 style="font-family: 'GSFont';">暂无公告</h1>
									</header>
                                    -->
									<span class="image main"><img src="static/images/pic11.jpg" alt="" /></span>
                                    <h2>简介</h2>
									<p>欢迎来到提瓦特教育出版社官方网站！<br>
                                        我们是一家专注于米哈游游戏的（二创）出版机构，致力于为广大米家玩家提供全面、专业、实用的游戏指南、攻略和相关出版物。
                                        <br>
                                        在这里，无论你是刚刚踏入提瓦特大陆的新手，还是已经游历四方的老玩家，都能找到适合自己的游戏资源。我们的产品和服务包括：
                                        <br>
                                        新手指南：从游戏基础操作到角色养成，我们为初始玩家提供了详尽的新手指引，助你快速上手，融入原神的奇幻世界。<br>
                                        高级教程与攻略：我们的资深游戏专家团队精心编写了各类高阶教程和攻略，涵盖角色培养、武器选择、圣遗物搭配、团队配置等方方面面，帮助玩家深入理解游戏机制，掌握高阶技巧。<br>
                                        游戏道具图鉴：提瓦特大陆上有许多特色的道具、材料和食谱，我们为玩家整理了完备的游戏道具图鉴，收录了每一件物品的获取途径、作用效果和使用指南。<br>
                                        世界观探索手册：原神拥有一个庞大而神秘的世界观，我们特别策划了系列世界观探索手册，带领玩家深度了解提瓦特的历史、文化、人文风情，以及各个国家和角色的背景故事。<br>
                                        提瓦特教育出版社秉承着"教育启迪心智，出版传播价值"的理念，竭诚为原神玩家服务。无论你是想提升游戏水平，还是想深入了解原神的世界，这里都是你不二的选择。<br>
                                        <br>
                                        我们的出版物不止原神，加入我们，开启你在提瓦特大陆上的非凡旅程吧！</p>
									<hr class="major" />
                                    <h2>业务与性质</h2>
									<p>提瓦特教育出版社是一家独立的游戏周边创作团队，我们的业务主要围绕miHoYo（米哈游）旗下的热门游戏展开。专注于创作和发行各类游戏辅助材料和衍生作品，致力于为广大玩家提供优质、专业、有趣的游戏体验升级服务。
                                        <br>
                                        我们的业务主要分为三大板块：
                                        <br>
                                        1. 游戏攻略出版物：我们策划编写了一系列原神游戏攻略书籍，涵盖新手入门、角色培养、装备搭配、团队配置等方面，内容详尽全面，既适合初始玩家快速上手，也能满足老玩家深入研究的需求。
                                        <br>
                                        2. 创作托管：我们为玩家或创作者提供托管服务，您可以将作品托管到本网站，本网站免费为您提供网络接入和声明服务。
                                        <br>
                                        我们也重视尊重原作版权和玩家权益，确保我们的产品与服务在法律和道德的框架内运营。
                                        <br>
                                        提瓦特教育出版社的终极目标，是成为玩家心目中最值得信赖的游戏周边提供商。</p>
									<hr class="major" />
                                    <h2>支持</h2>
									<p>若您喜欢我们的内容，可以通过如下方式支持我们</p>
									<hr class="major" />
                                    <h2>服务条款与版权</h2>
									<p>
                                        <h3>服务条款</h3>
                                        提瓦特教育出版社（以下简称"本社"）提供的所有产品和服务仅供个人非商业使用。用户不得将本社的任何内容用于商业目的。<br>
                                        本社致力于为用户提供准确、实用的游戏攻略和资讯，但不对内容的时效性、适用性作任何明示或暗示的保证。用户在游戏中的所有行为及其后果由用户自行承担。<br>
                                        本社有权在不事先通知的情况下，修改、中断或终止部分或全部的产品与服务。由此给用户造成的任何损失，本社不承担任何责任。<br>
                                        用户在使用本社服务时，应遵守所有适用的法律法规，不得利用本社服务从事任何违法或侵犯他人权益的行为。<br>
                                        对于用户在本社官网、社交媒体平台上发表的评论、意见等用户生成内容，本社不承担审核或管理的责任。该内容仅代表用户个人观点，与本社无关。<br>
                                        关于游戏内的内容最终解释权归米哈游所有。<br>
                                        <h3>版权声明</h3>
                                        本社官网所有内容（包括但不限于文字、图片、音频、视频、图表等）的知识产权均归提瓦特教育出版社所有，受中华人民共和国著作权法以及国际版权公约的保护。<br>
                                        未经本社书面许可，任何组织或个人不得以任何形式复制、转载、修改、传播、发行或以其他方式使用本社的内容。有额外说明或许可的除外。<br>
                                        本社部分内容来源于米哈游，游戏及其相关知识产权归米哈游所有。本社所有原神游戏周边创作，均基于米哈游制定的游戏素材使用规范和同人作品指引，不对原游戏进行实质性改动。<br>
                                        如果您认为本社的任何内容侵犯了您的版权或其他权益，请及时与我们联系，我们会尽快核实并妥善处理。<br>
                                    </p>
									<hr class="major" />
								</section>

						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">
							<!-- Search -->
								{{ searchbar | safe  }}
							<!-- Menu -->
								{{ nav | safe  }}
							<!-- Section -->
								{{  hotpubs | safe }}
							<!-- Section -->
								{{ pageinfo | safe  }}
							<!-- Footer -->
								{{  footer | safe  }}
						</div>
					</div>

			</div>

		<!-- Scripts -->
		{{ basescripts | safe}}

	</body>
</html>