<!DOCTYPE HTML>

<html>
	<head>
		<title>提教社-{{title}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{url_for('static', path='assets/css/main.css')}}" />
		<link rel="icon" type="image/x-icon" href="{{ url_for('static', path='favicon.ico') }}">
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Main -->
					<div id="main">
						<div class="inner">
							<!-- Header -->
								<header id="header">
									<a href="publications.html" class="logo"><strong>出版物</strong></a>
								</header>
							<!-- Content -->
								<section>
									<header class="main">
										<h1 style="font-family: 'GSFont';">{{title}}</h1>
									</header>
									<span class="image main"><img src="static/images/{{img}}" alt="" /></span>
									<p>{{author}}</p>
									<p>{{desc}}</p>
									<p>{{content}}</p>
									<p>{{group}}</p>
									<ul class="actions">
										<li><a href="{{link}}" class="button" style="font-family: 'GSFont';">下载</a></li>
									</ul>
									<hr class="major" />
								</section>

						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">
							<!-- Search -->
								{{ searchbar | safe  }}
							<!-- Menu -->
								{{ nav | safe  }}
							<!-- Section -->
								{{  hotpubs | safe }}
							<!-- Section -->
								{{ pageinfo | safe  }}
							<!-- Footer -->
								{{  footer | safe  }}
						</div>
					</div>

			</div>

		<!-- Scripts -->
		{{ basescripts | safe}}

	</body>
</html>